*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    margin:1rem 0;
}
.items{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    justify-content: space-between;
    margin-top: 0.5rem;
}
input[type=text-area]{
    width: 600px;
    padding-bottom:15px;
    outline: none;
    border: 1px solid rgb(228, 225, 225);
    border-radius: 3px;
}
input[type=submit]{
    padding: 8px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 3px;
    margin-top: 0.5rem;
}
.first-note{
    padding: 10px;
    border: 1px solid rgb(247, 245, 245);
    margin-right: 0.5rem;
    border-radius: 3px;
    width: 300px;
    height: 100px;
}
button{
  padding: 6px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 3px;font-size: 11px;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0,0.5);
}
.modal-content{
    margin: 15rem auto;
    background-color: white;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0,0.2);
    border-radius: 3px;
    padding: 25px 10px;
    width: 70%;
}

